/* à supprimer ?*/
html, body {
  margin: 0;
  padding: 0;
  }
 body {
  background-color: white;
  font-family: Verdana, sans-serif;
  font-size: 100%;
  }
 h1 {
  font-size: 200%;
  color: navy;
  text-align: center;
  }
 h2 {
  font-size: 150%;
  color: red;
  padding-left: 15px;
  }
 p,ul,li,td {
  color: black;
  }
 a:link {
  color: green;
  text-decoration: underline;
  }
 a:visited {
  color: gray;
  }
 a:hover {
  color: black;
  text-decoration: none;
 }
 a:active, a:focus {
  color: black;
 }
 table {
  border:3px solid #6495ed;
  border-collapse:collapse;
  width:90%;
  margin:auto;
  }
  thead, tfoot {
  background-color:#000000;
  border:1px solid #6495ed;
  }
  tbody {
  background-color:#FFFFFF;
  border:1px solid #6495ed;
  }
  th {
  font-family:monospace;
  border:1px dotted #6495ed;
  padding:5px;
  background-color:#EFF6FF;
  width:25%;
  }
  td {
  font-family:sans-serif;
  font-size:80%;
  border: 1px solid #6495ed;
  padding:5px;
  text-align:left;
  }
  caption {
  font-family:sans-serif;
  }
