<!-- page 1 : non connecté -->
<div *ngIf="!isConnected" class="content">
    <title>Un Accueil</title>

    <h1>Page d'accueil</h1>
    <p>Salut c'est Julien et  je vous souhaite la bienvenue sur mon site.</p>

    <div>
        <h2>Créer un compte</h2>
        <input #prenom placeholder="Prénom" />
        <input #nom placeholder="Nom" />
        <input #age placeholder="âge" onkeyup=" this.value=this.value.replace(/[^\d]/,'')"/>
        <input #email placeholder="Email" />
        <input #sexe placeholder="Sexe" />
        <input #mdp type="password" placeholder="Mot de passe" />
        <button (click)="onCreation(nom.value,prenom.value,age.value,sexe.value,email.value,mdp.value)">Inscription</button>
    </div>

    <br/>
    <div>
        <h2>Se connecter</h2>
        <h3 *ngIf="authentificationfail">mot de passe ou email non reconnu...</h3>
        <input #email2 placeholder="Email" />
        <input #mdp2 type="password"  placeholder="Mot de passe" />
        <button (click)="onAuthentification(email2.value,mdp2.value)">Se connecter</button>
    </div>
</div>

<!--  page 2 : personne connectée-->
<div *ngIf="isConnected" class="content">
  <h2>Bienvenue étrangé</h2>
  <p>
    vous avez {{nombredeNotificationsNonLues}} messages non lues.
  </p>
  <table>
    <thead>
        <tr>
          <th>oranisation</th>
          <th>id notification</th>
          <th>Le message</th>
          <th>etat de remise du message</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let uneNotification of listeNotificationsNonLues">
        <td>{{ uneNotification.organisation }}</td>
        <td>{{ uneNotification.identifiantNotification }}</td>
        <td>{{ uneNotification.message }}</td>
        <td>{{ uneNotification.etatDeRemise }}</td>

      </tr>
    </tbody>
</table>


</div>
